---
layout: layouts/base.njk
title: Collectanea
permalink: /collectanea/
---
<div class="explorer-window collectanea-window">
    <div class="explorer-header">
        <h1>Important</h1>
    </div>
    
    <div class="collectanea-links">
        <ul>
            <li><a href="https://templeos.org/" target="_blank" >Terry Davis</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Bobby_Fischer" target="_blank">Bobby Fischer</a></li>
            <li><a href="https://trueup.io/job-trend" target="_blank">Tech</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Mikhail_Tal" target="_blank">Mikhail Tal</a></li>
            <li><a href="https://musicforprogramming.net/latest/" target="_blank">Easy listening</a></li>
            <li><a href="https://www.youtube.com/watch?v=V1hePBCcJ3o" target="_blank">Balamb Garden</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Man_Proposes,_God_Disposes#Urban_myth" target="_blank">Man Proposes God Disposes</a></li>
            <li><a href="https://tetr.io/" target="_blank">Tetris</a></li>
            <li><a href="https://www.youtube.com/watch?v=IhnA-oAwh04" target="_blank">Babbage</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Hugo_Award_for_Best_Novel#Winners_and_nominees" target="_blank">Sci-fi</a></li>
            <li><a href="https://openpsychometrics.org/tests/APS/" target="_blank">Art</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Bill_Evans" target="_blank">Bill Evans</a></li>
            <li><a href="https://www.youtube.com/watch?v=izz3eRtO77Q" target="_blank">Die Gedanken Sind Frei</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Flowers_for_Algernon" target="_blank">Flowers for Algernon</a></li>
            <li><a href="https://xkcd.com/1613/" target="_blank">Asimov</a></li>
            <li><a href="https://xkcd.com/927/" target="_blank"> Standards</a></li>
            <li><a href="https://en.wikipedia.org/wiki/No_friends_but_the_mountains" target="_blank">No friends but the mountains</a></li>
            <li><a href="https://www.nationalreview.com/corner/poem-die-michael-rubin/" target="_blank">"A Poem to Die For"</a></li>
            <li><a href="https://www.newstatesman.com/science-tech/2024/08/when-the-ai-bubble-bursts" target="_blank">AI</a></li>
            <li><a href="https://jsomers.net/blog/dictionary" target="_blank">Webster's 1913</a></li>
            <li><a href="https://www.youtube.com/watch?v=gUQuBBBzx-I" target="_blank">Dearly Beloved</a></li>
            <li><a href="https://github.com/xiongchiamiov/git-pray" target="_blank">Git Pray</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Phil_Ochs" target="_blank">Phil Ochs</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Charlie_Kaufman#Works" target="_blank">Kaufman Films</a></li>
            <li>"I call it my billion-dollar mistake. It was the invention of the null reference in 1965."</li>
            <li><a href="https://noclip.website/#smg/AstroGalaxy;ShareData=AZFwy91DNh8,cMVT^mS[WlYp-4:5DPUpXzeT?v&BV(;PL9KRE)T_5EO9q(E/=2e" target="_blank">Super Mario Galaxy</a></li>
            <li><a href="https://myanimelist.net/anime/22135/Ping_Pong_the_Animation" target="_blank">Ping Pong</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Shadow_of_the_Colossus_(2018_video_game)" target="_blank">Shadow of the Colossus</a></li>
        </ul>
    </div>
</div>