---
layout: layouts/base.njk
title: Home
---
<div class="index">
    <div class="intro-text">
        <p class="greeting">hi i'm aryan</p>
        <p class="description">aspiring <span style="font-size: 0.5rem;"><i>paid</i></span> code monkey.</p>
        <p class="emoticon">(:</p>
        <p class="social-header">here are some socials:</p>
        
        <div class="social-icons">
            <a href="{{ site.social.github }}" target="_blank" rel="noopener" title="GitHub">
                <img src="/assets/images/github.svg" alt="GitHub">
            </a>
            <a href="{{ site.social.linkedin }}" target="_blank" rel="noopener" title="LinkedIn">
                <img src="/assets/images/linkedin.svg" alt="LinkedIn">
            </a>
            <a href="{{ site.social.lastfm }}" target="_blank" rel="noopener" title="Last.fm">
                <img src="/assets/images/lastfm.svg" alt="Last.fm">
            </a>
            <a href="{{ site.social.rym }}" target="_blank" rel="noopener" title="Rate Your Music">
                <img src="/assets/images/rym.svg" alt="Rate Your Music">
            </a>
            <a href="{{ site.social.letterboxd }}" target="_blank" rel="noopener" title="Letterboxd">
                <img src="/assets/images/letterboxd.svg" alt="Letterboxd">
            </a>
        </div>
    </div>
</div>
