---
layout: layouts/base.njk
title: Posts
permalink: /posts/
---
<div class="explorer-window">
    <div class="explorer-header">
        <h1>Blog Posts</h1>
    </div>
    
    <div class="explorer-toolbar">
        <span>Name</span>
        <span>Date modified</span>
        <span>Type</span>
        <span>Size</span>
    </div>

    <div class="file-list">
        {%- for post in collections.posts | reverse -%}
        <div class="file-item">
            <div class="file-icon">
                {% if post.data.featured_image %}
                <img src="{{ post.data.featured_image }}" alt="{{ post.data.title }}" class="file-thumbnail">
                <div class="image-preview">
                    <img src="{{ post.data.featured_image }}" alt="{{ post.data.title }}">
                </div>
                {% endif %}
            </div>
            <a href="{{ post.url }}" class="file-name">{{ post.data.title }}</a>
            <span class="file-date">{{ post.date | readableDate }}</span>
            <span class="file-type">Document</span>
            <span class="file-size">{{ post.templateContent | readingTime }} min read</span>
        </div>
        {%- endfor -%}
    </div>
</div>