---
layout: layouts/base.njk
title: Projects
permalink: /projects/
---
<div class="explorer-window project-window">
    <div class="explorer-header">
        <h1>Projects</h1>
    </div>
    
    <div class="project-grid">
        <div class="project-card">
            <div class="project-title">Kindle Game Of Life</div>
            <p class="project-description">Java Swing application of Conway's Game Of Life that can be run on Kindle.</p>
            <div class="tech-stack">
                <h3>Built With:</h3>
                <ul>
                    <li>Java</li>
                    <li>Bash</li>
                    <li>Maven</li>
                </ul>
            </div>
            <a href="https://github.com/n0tori/kindle-game-of-life" class="project-link">View Project →</a>
        </div>
        
        <div class="project-card">
            <div class="project-title">Gen Z Chess Coach</div>
            <p class="project-description">A Chrome browser extension that transforms the AI feedback coach dialogue in Chess.com's Game Review feature into a humorous, exaggerated internet dialect commonly associated with Generation Z.<br><br>Uses DOM Manipulation that can be switched on and off in real-time.</p>
            <div class="tech-stack">
                <h3>Built With:</h3>
                <ul>
                    <li>JavaScript</li>
                    <li>HTML</li>
                </ul>
            </div>
            <a href="https://github.com/n0tori/chesscom-zoomifier" class="project-link">View Project →</a>
        </div>
        
        <div class="project-card">
            <div class="project-title">Game of Life Applet</div>
            <p class="project-description">My implementation of Conway's Game of Life using only core Java libraries including Swing and AWT. <br><br> Cell logic involves: live cells survive with 2-3 neighbours, and dead cells come to life with 3 live neighbours. <br><br> Dynamically updates grid with each evolution. Adjustable controls (play, pause, terminate) and a visual counter of the number of generations and cell population.</p>
            <div class="tech-stack">
                <h3>Built With:</h3>
                <ul>
                    <li>Java</li>
                </ul>
            </div>
            <a href="https://github.com/n0tori/game-of-life-applet" class="project-link">View Project →</a>
        </div>

        <div class="project-card">
            <div class="project-title">This Website</div>
            <p class="project-description">My messy introduction to web development.</p>
            <div class="tech-stack">
                <h3>Built With:</h3>
                <ul>
                    <li>JavaScript</li>
                    <li><a href="https://mozilla.github.io/nunjucks/" target="_blank" rel="noopener" title="Nunjucks">Nunjucks</a></li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Node.js</li>
                    <li><a href="https://www.11ty.dev/" target="_blank" rel="noopener" title="Eleventy">Eleventy</a></li>
                </ul>
            </div>
            <a href="https://github.com/n0tori/website" class="project-link">View Project →</a>
        </div>
    </div>
</div>
