<header>
    <nav>
        <div class="nav-links">
            <a href="/" class="nav-link {% if page.url == '/' %}active{% endif %}">home</a>/
            <a href="/posts/" class="nav-link {% if page.url == '/posts/' %}active{% endif %}">posts</a>/
            <a href="/projects/" class="nav-link {% if page.url == '/projects/' %}active{% endif %}">projects</a>/
            <a href="/collectanea/" class="nav-link {% if page.url == '/collectanea/' %}active{% endif %}">collectanea</a>
        </div>
    </nav>
</header>